<footer>
    <div class="social-links">
    	<div class="icon twitter"><a href="http://www.twitter.com/dananeda" target="_blank"><img src="../images/twitter-icon.png"></a></div>
    	<div class="icon dribbble"><a href="http://www.dribbble.com/dananeda" target="_blank"><img src="../images/dribbble-icon.png"></a></div>
    	<div class="icon linkedin"><a href="http://www.linkedin.com/profile/view?id=168638878&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic"><img src="../images/linkedin-icon.png" target="_blank"></a></div>
    	<div class="icon email"><a href="mailto:d.nedamaldeen@gmail.com" target="_blank"><img src="../images/email-icon.png"></a></div>
    </div>
</footer>
</body>
</html>
<body>

