---
layout: portfolio-detail
---

<article class="post">
    <div class="post-header">
        <div class="post-center">
            <h1>
                {{ page.title }}
            </h1>
            <p>{{ page.subheadline }}</p>
        </div>
    </div>
    <div class="post-body">
        <div class="post-center">
            <div class="two-cols two">
                {{ content }}
            </div>
            <div class="two-cols one">
                <dl class="attributes" id="sticker">
                    <dt>Client</dt>
                    <dd>{{ page.client }}</dd>
          
                    <dt>Role In Project</dt>
                    <dd>{{ page.role }}</dd>
          
                    <dt>Project Link</dt>
                    <dd><a href="http://{{ page.plink }}" target="_blank">{{ page.plink }}</a></dd>
                </dl>
            </div>
        </div>
    </div>
</article>
